<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milk Society</title>
    <%- include('templates/header-links.ejs') %>    
  </head>

<body>    
<div class="container-fluid h-100 w-100 position-absolute">
    <div class="row h-100">
        <%- include('templates/left-menu.ejs') %>
        <div class="col-12 col-lg-10 px-0">
            <div id="overlay" onClick="closeNav()"></div>
            <%- include('templates/header.ejs') %>
            <%- include('templates/mobile-menu.ejs') %>  
<!-- content -->
<div class="col-12 content-container position-relative">
    <div class="col-12 p-3">
        <div class="row justify-content-center align-items-stretch g-4">
            <div class="col-6 col-lg-4">
             <a href="#" class="btn btn-primary rounded-2 w-100 h-100">
                <div class="text-start p-2">
                    <h1 class="mb-0">65</h1>
                    <p>மாட்டுக்காரர்கள்</p>
                </div>
             </a>   
            </div>
    
            <div class="col-6 col-lg-4">
             <a href="#" class="btn btn-success rounded-2 w-100 h-100">
                <div class="text-start p-2">
                    <h1 class="mb-0">15</h1>
                    <p>பால் கறப்பவர்கள்</p>
                </div>
             </a>   
            </div>
    
    
            <div class="col-6 col-lg-4">
                <a href="#" class="btn btn-danger rounded-2 w-100 h-100">
                   <div class="text-start p-2">
                       <h1 class="mb-0">590 Ltr</h1>
                       <p>இன்றைய காலை பால் வரவு</p>
                   </div>
                </a>   
            </div>
    
            <div class="col-6 col-lg-4">
                <a href="#" class="btn btn-danger rounded-2 w-100 h-100">
                   <div class="text-start p-2">
                       <h1 class="mb-0">590 Ltr</h1>
                       <p>இன்றைய மாலை பால் வரவு</p>
                   </div>
                </a>   
            </div>
    
            <div class="col-6 col-lg-4">
                <a href="#" class="btn btn-warning rounded-2 w-100 h-100">
                   <div class="text-start p-2">
                       <h1 class="mb-0">3</h1>
                       <p>பால் கம்பெனிகள்</p>
                   </div>
                </a>   
            </div>
    
            <div class="col-6 col-lg-4">
                <a href="#" class="btn btn-primary rounded-2 w-100 h-100">
                   <div class="text-start p-2">
                       <h1 class="mb-0">2,500</h1>
                       <p>தீவன விற்பனை</p>
                   </div>
                </a>   
            </div>
        </div>
    </div>                
    </div>
    <!-- content end -->   
        </div>   
    </div>
</div>
<%- include('templates/footer-links.ejs') %>    
  </body>
</html>