<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Milk Society</title>
    <%- include('templates/header-links.ejs') %>    
  </head>

<body>    
  <div class="container-fluid h-100 w-100 position-absolute bg-grey">
    <div class="row h-100">   
      <%- include('templates/left-menu.ejs') %>
        <div class="col-12 col-lg-10 px-0">
          <div id="overlay" onClick="closeNav()">
            <%- include('templates/header.ejs') %>
              <%- include('templates/mobile-menu.ejs') %>
                <div class="col-12 p-4">
        <div class="col-12 p-4">
          <div class="bg-danger p-2 mb-3 text-center">
            <p class="text-white mb-0"><strong>தீவனங்களை திருத்த</strong></p>
          </div>
          <div id="error-message" class="alert alert-danger d-none" role="alert"></div>

          <div class="input-group mb-3">
            <select id="feed-selector" class="form-select" required>
                <option value="">-- தீவனங்கள் --</option>
                <% feeds.forEach(function(feed) { %>
                    <option value="<%= JSON.stringify(feed) %>">
                        <%= feed.name %>
                    </option>
                    <% }); %>
            </select>
        </div>

          <form id="formData" class="d-none">
            <div class="input-group mb-3"><input type="text" id="name" class="form-control" placeholder="தீவனத்தின் பெயர்"></div>
            <div class="input-group mb-3"><input type="text" id="cost_price" class="form-control" placeholder="தீவனத்தின் கொள்முதல் விலை"></div>
            <div class="input-group mb-3"><input type="text" id="selling_price" class="form-control" placeholder="தீவனத்தின் விற்பனை விலை"></div>
            <div class="input-group mb-3"><input type="text" id="stock_quantity" class="form-control" placeholder="இருப்பு"></div>
            <div class="row">
              <div class="col-12"><button type="submit" class="btn btn-success w-100">Save</button></div>
            </div>
          </form>
        </div>   
        </div>   
      </div>   
    </div>
</div>
<%- include('templates/footer-links.ejs') %>    

<script>
  document.addEventListener("DOMContentLoaded", function () {
      const form = document.getElementById('formData');
      const selector = document.getElementById('feed-selector');

      selector.addEventListener('change', function () {
          const feed = JSON.parse(selector.value);

          if (!feed) {
              form.classList.add('d-none');
              return;
          }

          document.getElementById('name').value = feed.name;
          document.getElementById('cost_price').value = feed.cost_price;
          document.getElementById('selling_price').value = feed.selling_price;
          document.getElementById('stock_quantity').value = feed.stock_quantity;

          form.classList.remove('d-none');
      });

      form.addEventListener('submit', async function (event) {
          event.preventDefault();

          const feedId = JSON.parse(selector.value).id;
          const name = document.getElementById('name').value;
          const cost_price = document.getElementById('cost_price').value;
          const selling_price = document.getElementById('selling_price').value;
          const stock_quantity = document.getElementById('stock_quantity').value;

          try {
              const response = await fetch('/feed-edit', {
                  method: 'POST',
                  headers: { 'Content-Type': 'application/json' },
                  body: JSON.stringify({ id: feedId, name, cost_price, selling_price, stock_quantity }),
              });

              const data = await response.json();

              if (!response.ok) {
                  const errorMessage = document.getElementById('error-message');
                  errorMessage.textContent = data.message;
                  errorMessage.classList.remove('d-none');
              }
              else {
                  alert(data.message || 'Cattle feed product edited successfully!');
              }
          } catch (error) {
              console.error('Error updating cattle feed product details:', error);
              document.getElementById('error-message').textContent = 'Error: Could not submit data';
              document.getElementById('error-message').classList.remove('d-none');
          }
      });
  });
</script>
  </body>
</html>